.App{
  text-align: center;
}

.App-header{
  background-color: #0099DC;
  padding: 2rem;
	color: white;
	.App-logo{
		animation: App-logo-spin infinite 20s linear;
		height: 80px;
	}
	.App-title{
		font-size: 1.5em;
	}
}

.navbar{
	background-color: transparent;
	ul{
		li{
			display: inline-block;
			margin: 0 10px;
			&:first-of-type{
				margin-left: 0;
			}
			&:last-of-type{
				margin-right: 0;
			}
			a{
				color: white;
				&:hover, &.is-active{
					border-bottom: 2px solid #f5f5f5;
					padding-bottom: 5px;
				}
			}
		}
	}
}

.App-intro{
	font-size: large;
	margin-top: 3rem;
}

.has-border-bottom{
	border-bottom: 2px solid #a5a5a5;
	margin-bottom: 2rem;
	padding-bottom: 2rem;
	&:last-of-type{
		border-bottom: none;
		margin-bottom: 0;
		padding-bottom: 0;
	}
}

h2{
	span{
		border-bottom: 2px solid black;
	}
}

a{
	img{
		margin-bottom: 1rem;
	}
}

.project{
	margin-bottom: 1rem;
}

#skills{
	margin-bottom: 50px;
}

footer{
	background-color: #00B3AB;
	color: white;
	padding: 2rem;
	h2{
		span{
			border-bottom: 2px solid white;
		}
	}
	a, .title{
		color: white;
	}
}

@keyframes App-logo-spin{
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
